.navbarmia{
   // background-color: $marrone;
   background-color:$marrone !important;
}
.imglogo{
   width: 70px;
  
}

.amia{
    color: $bianco !important;
    font-family: 'Oswald', sans-serif !important;
font-weight: 300 !important;}